<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rino.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>13</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
				<key>dateExpires</key>
				<string>13/04/2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Introspect.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialActivityIndicator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SPAlert.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonUI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CE80303D0B1BFA206FEE3180D9D13F24AAF0A86</string>
						<key>dateExpires</key>
						<string>13/04/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55UZ35LGP9</string>
						<key>name</key>
						<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>55UZ35LGP9.com.rino.ksa</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>55UZ35LGP9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Rino.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cd2b0851-6066-475d-bd8f-26732a88eb7b</string>
				<key>dateExpires</key>
				<string>13/04/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.rino.ksa</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>55UZ35LGP9</string>
				<key>name</key>
				<string>ARAB RESOURCE GROUP FOR CONSULTING AND DEVELOPMENT LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
